#ingredientBuilder{
    background-color:rgb(247, 231, 236);
    border: 5px solid black;
    padding-bottom:85%;
    padding-top:10px;
}
#instructionBuilder{
    background-color: rgb(199, 250, 244);
    border: 5px solid black;
    padding-bottom:85%;
    padding-top:10px;
}
#Add-Ingredients{
    background-color:darkred;
    color:white;
    border-radius: 25px;
}
#Remove-Ingredients{
    background-color: deeppink;
    color:white;
    border-radius: 25px;
}
#Name-Recipe{
    background-color:hotpink;
    color:white;
    border-radius: 25px;
    height:5%;
    width:50%;
    margin-bottom: 25px;
}
#Submit-Name{
    background-color:rgb(216, 110, 168);
    color:rgb(248, 243, 243);
}
#ingredients{
    background-color: hotpink;
    color:black;
    border-radius: 25px;
}
#instructions{
    background-color: hotpink;
    color:white;
    border-radius: 25px;
}
#Add-Instructions{
    background-color: darkred;
    color:white;
    border-radius:25px;
}
#Remove-Instructions{
    background-color: deeppink;
    color:white;
    border-radius: 25px;
}
h1{
    background-color: rgb(6, 119, 139);
    color:white;
    border-radius: 25px;
}
#recipeOutput{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    background-color: FD0572;
}
#Export-Card{
    background-color: rgb(60, 6, 253);
    color:white;
}
#Clear{
    background-color: rgb(228, 4, 4);
    color:white;
}
html{
    background-color: rgb(151, 255, 245);
}
label{
    font-size:20px;
}